[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kafka-python = "*"
numpy = "*"
pyspark = "*"
faker = "*"
redis = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
